@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.goku{
  position: static;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://media.tenor.com/pz8DBhQ64jkAAAAC/goku-goku-ultra-instinct.gif );
  background-size: cover;
  background-position: center;
}
nav{
  position: static;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-right: 10%;
  padding-left: 10%;
}
.logo{
  position: static;
  color:white;
  font-size: 30px;
  font-family: 'Black Ops One', cursive;

}
span{
  position: relative;
  color: darkorange;
  font-family: 'Black Ops One', cursive;
}
nav ul li{
  position: relative;
  list-style-type: none;
  display: inline-block;
  padding: 10px 10px;
  font-family: 'Handjet', cursive;
  font-size: 25px;
}
nav ul li a{
  color:white;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Handjet', cursive;
}
nav ul li a:hover{
  color:orange;
  transition: 800ms;
  font-family: 'Handjet', cursive;
}
button{
  border:none;
  background: orange;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 500ms;
  font-family: 'Sedgwick Ave Display', cursive;

}
button:hover{
  transform: scale(1.11);
  cursor: cell;
  font-family: 'Sedgwick Ave Display', cursive;
}
button a{
  text-decoration: none;
  color: aliceblue;
  font-family: 'Sedgwick Ave Display', cursive;
}